<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>

    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:'Trebuchet MS', sans-serif; color: #4285F4">
            Used Car Engine
        </h1>
        <br><br>

        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control" placeholder="Make, Model, Luxury, Fast...">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
        <!-- <div style='display:block;'>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>Test Toggle
            </label>
        </div> -->
    </form>

    <div class="top">
      <center>
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
      </center>
    </div>

    <form class="form-inline global-search">
        {% if data %}
        <h1 style='margin-bottom:20px;'>{{output_message}}</h1>
        <div class='all_results'
            style='border: 1px solid lightgray;border-radius: 25px;width:80%;height:650px;margin-right:10%;margin-left:10%;overflow-y:auto;'>

            {% for d in data %}

            <div class='result'
                style='background-color: lightskyblue;border-radius: 25px;display:flex;flex-direction: column;align-items:center;width:auto; height:150px;margin:10px;stroke-width:1px;stroke:blue;'>
                <p style='font-size:20px;margin-top: 15px;align-self: center;'>{{d}}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </form>
</body>

</html>
